head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  title Booked It
  link(rel='stylesheet', href='styles.css')
body  


nav 
        a.home-btn(href='/') BookedIt
.text-center.login
  .col-two
   h1 booked it
   h2 feautured books 

  
  