<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/3f93d2c0e4.js"
      crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@100;400&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet" href="styles.css" />
    <title>Booked It</title>
  </head>

  <body>
    <div class="container">
      <div class="sec-one">
        <div className="article-title">
          BOOKED IT
          <div className="sm-txt">books our readers loved</div>
        </div>
      </div>
      <div class="sec-two">
        <div className="content-2">
          What would you like to read? <br />
          explore our recommendations from our favorite writers and reders.
        </div>
      </div>
      <div class="book1">
        <div className="col-3 bk-img">
          <img
            src="https://user-images.githubusercontent.com/114012059/236661927-45a067c0-a6eb-49d3-a9c1-a275f25c6ec9.jpg" />
          <p>title</p>
          <p>author</p>
        </div>
      </div>
      <div class="book2">
        <div className="col-4 bk-img">
          <img
            src="https://user-images.githubusercontent.com/114012059/236661928-e340e9a5-3d37-4bda-84f1-8236b9f42cc5.jpg" />
        </div>
      </div>
      <div class="book3">
        <div className="col-5 bk-img">
          <img
            src="https://user-images.githubusercontent.com/114012059/236662197-79ab07cb-df4c-4676-8bb0-4b34193e7f86.jpg"
            alt="" />
        </div>
      </div>
      <div class="book4">
        <div className="col-6 bk-img">
          <img
            src="https://user-images.githubusercontent.com/114012059/236661932-aabe590d-03d7-4e2b-af2d-7c0aafe84b0e.jpg" />
        </div>
      </div>
      <div class="book5"></div>
      <div class="book6"></div>
      <div class="book7"></div>
      <div class="book8"></div>
    </div>
  </body>
</html>
