body {
  margin: 0;
  font-family: "Archivo Black", sans-serif;
}

.header-image {
  width: 70%;
  margin-left: 10%;
  margin-top: 10%;
}

#addForm {
  background: #ffeccc;
  border-radius: 10px;
  color: rgb(32, 31, 31);
  border-right: 10px solid black;
  position: relative;
  right: 10%;
  margin-bottom: 10%;
  width: 300px;
}

input {
  width: 352px;
  height: 37px;
  border-radius: 25px;
  border: 0.5px solid rgb(184, 192, 180);
  color: #232222;
  font-weight: bold;
  padding-left: 0.5rem;
  margin-top: 10px;
}

.add-btn {
  margin-top: 10px;
  width: 352px;
  height: 37px;
  border-radius: 25px;
  border: 0.5px solid rgb(184, 192, 180);
  color: whitesmoke;
  font-weight: bold;
  padding-left: 0.5rem;
  background-color: #1d1e1e;
}
.container {
  display: flex;
  justify-content: space-around;
}

.sec-one {
  grid-area: sec-one;
  padding-top: 10%;
}

.sec-two {
  grid-area: sec-two;
}

.book1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-align: center;
}

.article-title {
  line-height: 50px;
  font-size: 4rem;
  justify-content: space-around;
  padding: 10%;
}
.sm-txt {
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  text-transform: uppercase;
}
.header {
  padding: 2rem;
}

.title {
  font-size: 3.5rem;
  margin: 20px;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.887);
}

.content-2 {
  justify-content: space-around;
  padding: 10%;
  font-size: 1rem;
  font-weight: 100;
  margin-left: 10%;
  margin-top: 10%;
}

.list {
  box-sizing: border-box;
  min-width: 250px;
  max-width: 300px;
  height: 200px;
  border-top: 10px solid #f6c54a;
  background: linear-gradient(45deg, transparent 5%, #fffdf9 5%);
  color: rgb(26, 24, 24);
  list-style: none;
  font-family: arial;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 1.5rem;
}

#userbooks {
  border-top: 10px solid #e99a00;
  background: linear-gradient(45deg, transparent 5%, #ffffff 5%);
  color: #242424;
}

.button-49 {
  width: 150px;
  height: 46px;
  line-height: 48px;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  background: linear-gradient(45deg, transparent 5%, #ffeccc 5%);
  border: 0;
  color: #1a1919;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #1b1b1b;
  outline: transparent;
  position: relative;
}

#fave-btn:hover {
  background: linear-gradient(45deg, transparent 5%, #005248 5%);
}

.button-49:hover,
.button-49:hover {
  background: linear-gradient(45deg, transparent 5%, #e99a00 5%);
  cursor: pointer;
}

.nav-- {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: max-content;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  li {
    margin: 0;
    padding: 2rem;
    font-family: "Archivo Black", sans-serif;
    font-size: 1.2rem;
  }
  /* border-right: 3px solid #1e1e1e; */
}

a {
  text-decoration: none;
  color: #1b1b1b;
}
.one:hover,
.two:hover,
.three:hover {
  border-top: 5px solid black;
  cursor: pointer;
}
.one {
  background: linear-gradient(45deg, transparent 5%, #e99a00 5%);
}

.two {
  background: #ffeccc;
}

.three {
  background: linear-gradient(-45deg, transparent 5%, #028172 5%);
}

.bookedit {
  display: flex;
  flex-direction: row;
}

.p-text {
  font-size: 1rem;
  line-height: 1;
  font-family: Arial, Helvetica, sans-serif;
  width: inherit;
}

.round-button {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #e99a00;
  font-size: 1rem;
  float: center;
  margin-top: 40px;
}

.round-button:hover {
  border: 2px solid #028172;
  border-radius: 50%;
  background-color: #028172;
  color: white;
  font-size: 1rem;
  padding: 5px;
}

@media (min-width: 768px) {
  .button-49,
  .button-49:after {
    width: 200px;
    height: 86px;
    line-height: 88px;
  }
}
